.projectpage {
  background-color: rgb(31, 31, 33);
  padding-top: 80px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.projectpage h1 {
  margin-top: 0px;
  margin-bottom: 50px;
  color: white;
}

.projectpage img {
  width: 350px;
}

.projectpage p {
  margin: 50px 0;
  font-size: 20px;
  width: 350px;
}

.imageContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}

.projectpage button {
  background-color: white;
  border: 1px solid white;
  border-radius: 5px;
  height: 30px;
  margin-bottom: 30px;
}

.projectpage button:hover {
  cursor: pointer;
  font-weight: bold;
}

@media (min-width: 750px) {
  .projectpage {
    min-height: 1000px;
  }
}

@media (min-width: 990px) {

  /* .projectpage h1 {
    margin-top: 180px;
  } */

  .projectpage {
    height: 100%;
  }

  .projectpage img {
    width: 500px;
  }

  .projectpage p {
    width: 500px;
  }

  .imageContainer {
    display: flex;
  }

}

@media (min-width: 1024px) {
  .projectpage {
    height: 100%;
  }
}